---
import { WHATSAPP_MESSAGE_URL, WHATSAPP_NUMBER } from "../lib/constants";


---

{/* CTA Section */}
<section
    class="py-20 bg-gradient-to-r from-[#0a30b8] to-[#0a30b8]/80 text-white"
>
    <div class="container mx-auto px-4 text-center">
        <h2 class="text-3xl lg:text-4xl mb-6 font-semibold">
            ¿Listo para Transformar la Seguridad en su Empresa?
        </h2>
        <p class="text-xl mb-8 max-w-2xl mx-auto opacity-90">
            Contáctenos hoy mismo y descubra cómo CENITEG SOLUTIONS puede
            ayudarle a impulsar el éxito y la seguridad de su organización.
        </p>
        <div class="flex flex-col sm:flex-row gap-4 justify-center">
            <a href=`tel:+${WHATSAPP_NUMBER}` id="llamar" title="Ceniteg WhatsApp" class="flex gap-2 items-center font-semibold bg-white text-[#0a30b8] p-4 rounded-3xl transition-all duration-500 ease-in-out transform hover:-translate-y-[5px]">
                <lord-icon
                    src="https://cdn.lordicon.com/wtywrnoz.json"
                    trigger="hover"
                    stroke="bold"
                    target="#llamar"
                    colors="primary:#0a30b8"
                    style="width:25px;height:25px">
                </lord-icon>
                Llamar Ahora
            </a>
            <a
                href={WHATSAPP_MESSAGE_URL}
                target="_blank"
                title="Ceniteg WhatsApp"
                class="chat not-odd:flex gap-2 items-center font-semibold border-white text-white hover:bg-white hover:text-[#0a30b8] p-4 rounded-3xl transition-all duration-500 ease-in-out transform hover:-translate-y-[5px]"
            >
                <lord-icon
                    src="https://cdn.lordicon.com/bpptgtfr.json"
                    class="current-color"
                    stroke="bold"
                    trigger="hover"
                    target=".chat"
                    style="width:20px;height:20px">
                </lord-icon>
                Enviar Mensaje
            </a>
        </div>
    </div>
</section>

<style>
    .chat:hover {
        color: #0a30b8;
    }
</style>