---
import { Phone, Mail, MapPin, CheckCheck, LucideCheckCircle2, CircleAlert } from "@lucide/astro";
import { CONTACT_NUMBER } from "../lib/constants";
---

{/* Contact Section */}
<section id="contacto" class="py-20 bg-white">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl lg:text-4xl text-[#0a30b8] mb-4 font-semibold">
        Contáctanos
      </h2>
      <p class="text-xl text-gray-600">
        Estamos aquí para ayudarte a mejorar la seguridad en tu empresa
      </p>
    </div>

    <div class="grid lg:grid-cols-2 gap-12">
      <div class="space-y-8">
        <div class="flex items-start space-x-4">
          <div class="bg-[#0a30b8]/10 p-3 rounded-lg">
            <Phone class="h-6 w-6 text-[#0a30b8]" />
          </div>
          <div>
            <h3 class="font-semibold text-[#0a30b8] mb-1">Teléfono</h3>
            <p class="text-gray-600">+51 {CONTACT_NUMBER}</p>
          </div>
        </div>
        <div class="flex items-start space-x-4">
          <div class="bg-[#0a30b8]/10 p-3 rounded-lg">
            <Mail class="h-6 w-6 text-[#0a30b8]" />
          </div>
          <div>
            <h3 class="font-semibold text-[#0a30b8] mb-1">Email</h3>
            <p class="text-gray-600">info@ceniteg.com</p>
          </div>
        </div>
        <div class="flex items-start space-x-4">
          <div class="bg-[#0a30b8]/10 p-3 rounded-lg">
            <MapPin class="h-6 w-6 text-[#0a30b8]" />
          </div>
          <div>
            <h3 class="font-semibold text-[#0a30b8] mb-1">Ubicación</h3>
            <p class="text-gray-600">Cal. Marcelo Corne 279</p>
            <p class="text-gray-600">Trujillo, La Libertad - Perú</p>
          </div>
        </div>
      </div>

      <div class="p-6 ring-gray-200 ring-1 rounded-2xl">
        <div class="px-0 pt-0 pb-4">
          <div class="text-[#0a30b8] font-semibold">Solicitar Información</div>
          <p class="text-[0.75em] text-gray-600">
            Complete el formulario y nos pondremos en contacto con usted
          </p>
        </div>
        <form id="form-ceniteg">
          <div class="flex flex-col px-0 space-y-3">
            <div class="grid grid-cols-2 gap-4">
              <input
                name="nombre"
                placeholder="Nombre"
                class="ring-1 ring-gray-200 py-1 px-2 rounded-xl"
              />
              <input
                name="apellido"
                placeholder="Apellido"
                class="ring-1 ring-gray-200 py-1 px-2 rounded-xl"
              />
            </div>
            <input
              name="email"
              placeholder="Email"
              type="email"
              class="ring-1 ring-gray-200 py-1 px-2 rounded-xl"
            />
            <input
              name="telefono"
              placeholder="Teléfono"
              class="ring-1 ring-gray-200 py-1 px-2 rounded-xl"
            />
            <input
              name="empresa"
              placeholder="Empresa"
              class="ring-1 ring-gray-200 py-1 px-2 rounded-xl"
            />
            <textarea
              name="mensaje"
              placeholder="Mensaje"
              rows={4}
              class="ring-1 ring-gray-200 py-1 px-2 rounded-xl"></textarea>
            <button
              id="submit-button"
              type="submit"
              class="w-full disabled:hover:bg-[#0a30b8] disabled:cursor-default bg-[#0a30b8] text-white hover:bg-[#0a30b8]/90 py-2 rounded-2xl cursor-pointer"
            >
              Enviar Mensaje
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="toast" class="fixed top-4 right-4 bg-white text-black px-4 py-5 rounded-2xl shadow-2xl transition-opacity hidden duration-300">
      <div class="flex items-center space-x-2 w-sm max-w-sm">
        <div id="toast-success" class="bg-green-100 p-2 rounded-full hidden">
            <LucideCheckCircle2 class="h-6 w-6 text-green-500" />
        </div>
        <div id="toast-error" class="bg-red-100 p-2 rounded-full hidden">
            <CircleAlert class="h-6 w-6 text-red-500" />
        </div>
        <p id="toast-message" class="text-gray-700">¡El mensaje ha sido enviado correctamente!</p>
      </div>
    </div>

  </div>
</section>

<script type="module">
  const form = document.getElementById("form-ceniteg");
  const toast = document.getElementById("toast");
  const toastSuccess = document.getElementById("toast-success");
  const toastError = document.getElementById("toast-error");
  const toastMessage = document.getElementById("toast-message");
  const submitButton = document.getElementById("submit-button");

  function hideToast() {
    toast.classList.add("hidden");
    toast.classList.remove("opacity-100");
  }

  function showToast(status) {
    toast.classList.remove("hidden");
    toast.classList.add("opacity-100");
    if (status === "success") {
      toastSuccess.classList.remove("hidden");
      toastError.classList.add("hidden");
      toastMessage.textContent = "¡El mensaje ha sido enviado correctamente!";
    } else {
      toastSuccess.classList.add("hidden");
      toastError.classList.remove("hidden");
      toastMessage.textContent = "Error al enviar el mensaje. Por favor, inténtalo de nuevo.";
    }

    setTimeout(() => {
      hideToast();
    }, 5000);
  }

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    try {
      // Deshabilitar el botón de envío para evitar múltiples envíos
      submitButton.disabled = true;
      submitButton.classList.add("cursor-not-allowed", "opacity-50");
      submitButton.textContent = "Enviando...";


      const formData = new FormData(form);
      const res = await fetch("https://ceniteg.com/api/enviar.php", {
        method: "POST",
        body: formData,
      });

      if (res.ok) {
        form.reset();
        // Mostrar el toast de éxito
        showToast("success");
      } else {
        // Mostrar el toast de error
        showToast("error");
      }
    } catch (error) {
      console.error("Error al enviar el formulario:", error); 
      // Mostrar el toast de error
      showToast("error");
    } finally {
      // Rehabilitar el botón de envío
      submitButton.disabled = false;
      submitButton.classList.remove("cursor-not-allowed", "opacity-50");
      submitButton.textContent = "Enviar Mensaje";
    }
  });
</script>
