---
import {
    Shield,
    TrendingUp,
    Target,
    Clock,
    UserCheck,
    Award,
} from "@lucide/astro";

const benefits = [
    {
        icon: Shield,
        title: "Cumplimiento Legal",
        description:
            "Garantizamos el cumplimiento de la Ley 29783 y normativas vigentes",
    },
    {
        icon: TrendingUp,
        title: "Mejora de Productividad",
        description:
            "Incremento en la moral y productividad de los trabajadores",
    },
    {
        icon: Target,
        title: "Programas Personalizados",
        description:
            "Capacitación adaptada a las necesidades específicas de su empresa",
    },
    {
        icon: Clock,
        title: "Flexibilidad Horaria",
        description:
            "Horarios adaptables con entrega de material y certificados",
    },
    {
        icon: UserCheck,
        title: "Mayor Seguridad",
        description: "Implementación de prácticas de ingeniería de vanguardia",
    },
    {
        icon: Award,
        title: "Certificación",
        description:
            "Certificado por participante al completar la capacitación",
    },
];
---

{/* Benefits Section */}
<section id="beneficios" class="py-20 bg-[#F4F4F4]">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h2 class="text-3xl lg:text-4xl text-[#0a30b8] mb-4 font-semibold">
                Beneficios de Nuestros Servicios
            </h2>
            <p class="text-xl text-gray-600 max-w-3xl mx-auto">
                Descubra cómo nuestros servicios de capacitación pueden
                transformar la cultura de seguridad en su organización.
            </p>
        </div>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
            {
                benefits.map((benefit) => {
                    const Icon = benefit.icon;
                    return (
                        <div class="hover:shadow-xl transition-all duration-300 hover:-translate-y-2 bg-white py-6 px-3 rounded-xl">
                            <div class="text-center">
                                <div class="bg-[#0a30b8]/10 w-16 h-16 rounded-full flex items-center justify-center mx-auto mb-4">
                                    <div class="text-[#0a30b8]">
                                        <Icon />
                                    </div>
                                </div>
                                <div class="text-xl text-[#0a30b8] font-semibold">
                                    {benefit.title}
                                </div>
                            </div>
                            <div>
                                <div class="text-center text-gray-600">
                                    {benefit.description}
                                </div>
                            </div>
                        </div>
                    );
                })
            }
        </div>
    </div>
</section>
