<div class="fixed bottom-6 right-5 z-50 group">
  <a
    href="https://api.whatsapp.com/send?phone=51943542437&text=Hola%2C%20Deseo%20solicitar%20cotizaci%C3%B3n%20sobre%20los%20cursos%20que%20ofrecen."
    target="_blank"
    class="transition-all duration-500 hover:scale-105 
           flex bg-transparent w-16 h-16 rounded-full 
           justify-center items-center cursor-pointer 
           ease-in-out transform hover:-translate-y-[8px]"
  >
    <lord-icon src="https://cdn.lordicon.com/dhcosedn.json" trigger="hover" colors="primary:#ebe6ef,secondary:#16c72e" style="width:80px;height:80px">
    </lord-icon>
  </a>

  <!-- Tooltip a la izquierda -->
  <div
    class="absolute right-full mr-3 top-1/2 -translate-y-1/2
           px-3 py-1 bg-white text-sm text-[#1db655] rounded-full shadow
           opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none whitespace-nowrap"
  >
    Contáctanos
  </div>
</div>