<div class="fixed bottom-12 right-5 z-50 group">
  <a
    href="https://wa.me/51956761053"
    target="_blank"
    class="transition-all duration-500 hover:scale-105 
           flex bg-white p-1 w-14 h-14 rounded-full 
           justify-center items-center cursor-pointer 
           ease-in-out transform hover:-translate-y-[8px] shadow-lg"
  >
    <lord-icon src="https://cdn.lordicon.com/fjuachvi.json" trigger="hover" style="width:40px;height:40px">
    </lord-icon>
  </a>

  <!-- Tooltip a la izquierda -->
  <div
    class="absolute right-full mr-3 top-1/2 -translate-y-1/2
           px-3 py-1 bg-white text-sm text-[#25d366] rounded-full shadow
           opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none whitespace-nowrap"
  >
    Contáctanos
  </div>
</div>